<!-- ========================= SECTION CONTENT ========================= -->
<div class="row">
</div>
<section class="section-conten padding-y bg">

	<div class="container py-4">
		<div class="row py-4">
			<main class="col-md-4">
				<article class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-12 text-center">
								<h2 class="">User <br> Management</h2>
								<a class="btn btn-primary" href="/admin/userList">Goto User Management</a>
							</div>
						</div> <!-- row.// -->
					</div> <!-- card-body .// -->
				</article> <!-- order-group.// -->
			</main>
			<main class="col-md-4">
				<article class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-12 text-center">
								<h2 class="">Category <br> Management</h2>
								<a class="btn btn-primary" href="/admin/category">Goto Category Management</a>
							</div>
						</div> <!-- row.// -->
					</div> <!-- card-body .// -->
				</article> <!-- order-group.// -->
			</main>
			<main class="col-md-4">
				<article class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-12 text-center">
								<h2 class="">Product <br> Management</h2>
								<a class="btn btn-primary" href="/admin/product">Goto Product Management</a>
							</div>
						</div> <!-- row.// -->
					</div> <!-- card-body .// -->
				</article> <!-- order-group.// -->
			</main>
			<main class="col-md-4 mt-4">
				<article class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-12 text-center">
								<h2 class="">Coupon <br> Management</h2>
								<a class="btn btn-primary" href="/admin/coupon">Goto Coupon Management</a>
							</div>
						</div> <!-- row.// -->
					</div> <!-- card-body .// -->
				</article> <!-- order-group.// -->
			</main>
			<main class="col-md-4 mt-4">
				<article class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-12 text-center">
								<h2 class="">Order <br> Management</h2>
								<a class="btn btn-primary" href="/admin/orderManagement">Goto Order Management</a>
							</div>
						</div> <!-- row.// -->
					</div> <!-- card-body .// -->
				</article> <!-- order-group.// -->
			</main>
			<main class="col-md-4 mt-4">
				<article class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-12 text-center">
								<h2 class="">Sales <br> Report</h2>
								<a class="btn btn-primary" href="/admin/salesReportPage">Goto Sales Report</a>
							</div>
						</div> <!-- row.// -->
					</div> <!-- card-body .// -->
				</article> <!-- order-group.// -->
			</main>
		</div> <!-- row.// -->
	</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->